.badge {
    border-radius: 2px;
    padding:2px;
}
.eppo0__hasEntityType {
    background-color: lightgreen;
    font-weight: bold;
    margin-right: 3px;
}
.ms-count {
    background-color: #E8E8E8;
    padding: 3px;
    border-radius: 3px;
}
.eppo0__hasEntityTitle {
    font-weight: bold;
    margin-right: 3px;
}

.eppo0__hasEntityBlurb {
    background-color: #F8F8F8;
}

.eppo0__category {
    color: grey;
}

.eppo0__hasAnnotations {
    font-size: 10px;
    margin-left: 15px;
}

.eppo0__hasAnnotations>tbody>tr>td {
    vertical-align: top;
}

.hit {
    margin-bottom: 60px;
}

.compactHit {
    margin-bottom: 0px;
}

.hitAlert, .hitInfo {
    width:10px;
    float:right;
    text-align: center;
    border-radius: 3px;
    padding:2px;
    cursor: pointer;
}
.hitAlert {
    background-color: orange;
}
.hitInfo {
    color:#ccc;
}

.dataspectsSearchInterface {
    width:100%;
}

.mw0__rawUrl {
    font-size:12px;
    color:darkgreen !important;
    padding:3px 0px 0px 0px;
    display:block;
}

.dataspectsSearchInterface>tbody>tr>td {
    width: 50%;
    vertical-align: top;
    padding: 20px 20px 20px 0px;
}

.mw0__attachment>tbody>tr>td {
    vertical-align: top;
    
}

.mw0__attachmentsText {
    padding: 10px;
    background-color: #eee;
}



.seaKay {
    font-weight: bold;
}

.CASE {
    color:orange
}

.FACT, .CONS {
    color: red
}

.OPTION, .PROS {
    color: green
}

.SCENARIOS {
    font-size:20px;
}

.parsedPageText {
    height:200px;
    width: 890px;
    max-width:890px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-color:gray;
    border-style: solid;
    border-width:1px;
    display: none;
    box-shadow: -10px -10px 5px lightgray;
}

.ds0__featuresAction {
    background-color: orange;
    font-weight: bold;
}



#hierarchicalMenus {
    width: 100%;
    background-color: #E9FFFF;
}

#hierarchicalMenus>tbody>tr>td {
    vertical-align: top;
    padding: 0px;
    margin:0px;
}

.mw0__namespace {
    background-color: #eee;
    color:#666;
    border:1px solid #999;
    padding:3px;
    border-radius: 3px;
    margin-left:5px;
}

.resultIcon {
    height:20px;
    margin-right:3px;
}

.annotationObjectLiteral {
    max-height: 200px;
    max-width: 890px;
    overflow-x: auto;
    overflow-y: auto;
}

#currentHelper {
    height: 200px;
    overflow-y: scroll;
}

.visjsGraph {
    height:400px;
    box-shadow: -10px -10px 5px lightgray;
}


.sources-refinement-list > ul, .mw0__namespace-menu > ul, .no-root-bullet-in-list > ul {
    list-style: none;
    margin: 0px;
    
}



ul .inner {
    /* padding-left: 1em; */
    overflow: hidden;
    display: none;
}

ul li {
    margin: 0.5em 0;
}

ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: 5px;
    border-radius: 0.15em;
    transition: background 0.3s ease;
}

ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}

#searchbox {
    margin-bottom: 50px;
}