div.searchFacetControl {
  background-color: #e8e8e8;
  padding: 3px;
  border-radius: 3px;
  display: inline;
  margin: 10px 10px 0px 0px;
}
a.searchFacetControlName {
  display: inline;
  color: blue !important;
  font-weight: bold;
}

li.savedSearchFacet a.searchfacetaction {
  color: gray;
}
li.savedSearchFacet a.itemName {
  font-weight: bold;
}

.badge {
  border-radius: 2px;
  padding: 2px;
}
.eppo0__hasEntityType {
  background-color: lightgreen;
  font-weight: bold;
  margin-right: 3px;
}
.ms-count {
  background-color: #e8e8e8;
  padding: 3px;
  border-radius: 3px;
}
.eppo0__hasEntityTitle {
  font-weight: bold;
  margin-right: 3px;
}

.eppo0__hasEntityBlurb {
  background-color: #f8f8f8;
}

.eppo0__category {
  color: grey;
}

.eppo0__hasAnnotations {
  margin-left: 15px;
}

.eppo0__hasAnnotations > tbody > tr > td {
  vertical-align: top;
}

.codeAspects {
  border: 1px solid #1e86d6;
  background-color: lightskyblue;
  font-size: 20px;
}

.hit {
  margin-bottom: 60px;
  max-width: 800px;
  overflow-x: hidden;
}

.compactHit {
  margin-bottom: 0px;
}

.hitAlert,
.hitInfo {
  width: 10px;
  float: right;
  text-align: right;
  border-radius: 3px;
  padding: 2px;
  cursor: help;
}
.hitAlert {
  background-color: orange;
}
.hitInfo {
  color: #ccc;
  width: 120px;
}

.hitAgo {
  margin-right: 5px;
  color: gray;
}

.dataspectsTable {
  width: 100%;
}

.dataspectsTable > tbody > tr > td {
  vertical-align: top;
  padding: 20px 20px 20px 0px;
}

.dataspectsBackstageTable > tbody > tr > td {
  border: 1px solid lightblue;
  padding: 20px;
}

.eppo0__hasEntityURL {
  font-size: 12px;
  color: darkgreen !important;
  padding: 3px 0px 0px 0px;
  display: block;
}

.mw0__attachment > tbody > tr > td {
  vertical-align: top;
}

.ds0__attachmentsText {
  padding: 10px;
  background-color: #eee;
}

.coKe {
  font-weight: bold;
}

.CASE {
  color: orange;
}

.FACT,
.CONS {
  color: red;
}

.OPTION,
.PROS {
  color: green;
}

.SCENARIOS {
  font-size: 20px;
}

.parsedPageText {
  height: 400px;
  width: 890px;
  max-width: 890px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  display: none;
  box-shadow: -10px -10px 5px lightgray;
}

.ds0__featuresAction {
  background-color: orange;
  font-weight: bold;
}

#hierarchicalMenus {
  width: 100%;
  background-color: #e9ffff;
}

#hierarchicalMenus > tbody > tr > td {
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}

.ds0__sourceNamespace {
}

.resultIcon {
  height: 20px;
  margin-right: 3px;
}

.annotationObjectLiteral {
  max-height: 200px;
  max-width: 890px;
  overflow-x: auto;
  overflow-y: auto;
}

#currentHelper {
  height: 200px;
  overflow-y: scroll;
}

.visjsGraph {
  height: 400px;
  box-shadow: -10px -10px 5px lightgray;
}

.accordion,
.sources-refinement-list > ul,
.ds0__sourceNamespace-menu > ul,
.no-root-bullet-in-list > ul {
  list-style: none;
  margin: 0px;
}

ul .inner {
  /* padding-left: 1em; */
  overflow: hidden;
  display: none;
}

ul li {
  margin: 0.5em 0;
}

ul li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: 5px;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

#searchbox {
  margin-bottom: 50px;
}

.searchResultBody {
  margin-left: 30px;
}

#intro {
  margin-left: 28px;
  font-style: italic;
}

.ais-Pagination {
  margin-bottom: 10px;
}

.ais-Pagination > ul > li {
  display: inline-block;
}

.ais-Pagination > ul > li > .ais-Pagination-link {
  padding: 5px;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  49% {
    color: #000;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;
  }
}

.pulsate {
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
