.badge {
    border-radius: 2px;
    padding:2px;
}
.eppo0__hasEntityType {
    background-color: lightgreen;
    font-weight: bold;
}
.ms-count {
    background-color: #E8E8E8;
    padding: 3px;
    border-radius: 3px;
}
.eppo0__hasEntityTitle {
    font-weight: bold;
}

.eppo0__category {
    color: grey;
}

.eppo0__hasAnnotations {
    font-size: 10px;
    margin-left: 15px;
}

.eppo0__hasAnnotations>tbody>tr>td {
    vertical-align: top;
}

.hit {
    margin-bottom: 60px;
}

.dataspectsSearchInterface {
    width:100%;
}

.dataspectsSearchInterface>tbody>tr>td {
    width: 50%;
    vertical-align: top;
    padding: 20px 20px 20px 0px;
}

.mw0__attachmentsText {
    padding: 10px;
    background-color: #eee;
}

.selectedItem {
    
}

.parentItem {
    
}

.seaKay {
    font-weight: bold;
}

.CASE {
    color:orange
}

.FACT, .CONS {
    color: red
}

.OPTION, .PROS {
    color: green
}

.SCENARIOS {
    font-size:20px;
}

.parsedPageText {
    height:200px;
    width:890px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-color:gray;
    border-style: solid;
    border-width:1px 0px 0px 1px;
    display: none;
    box-shadow: 10px 10px 5px lightgray;
}

.ds0__featuresAction {
    background-color: orange;
    font-weight: bold;
}